<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='/public/favicon.ico' />    
  </head>
  <body>
    <main>
      <nav class="top-nav">
        <div class="navigation">
          <a href="/">Home</a>
          <a href="/links.html">Links</a>
          <!-- <a href="/search.html">Search</a> -->
        </div>
        <div class="mode-switcher">
          <label for="mode-switcher">Color:</label>
          <select id="mode-switcher" onchange="switchMode(this.value)">
            <option value="auto">Auto</option>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
          </select>
        </div>
      </nav>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
  <script src="/public/code.js"></script>
</html>
